#register-page {
    display: flex;
    flex-direction: column;
}

.register-form-background {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.register-form {
    text-align: center;
}

.register-title {
    display: flex;
    justify-content: center;
    margin-top: 0.8%;
}

.register-form-button {
    display: flex;
    margin-top: 10%;
    cursor: pointer;
    color: white;
    background: none;
    padding: 0.3em 0.8em;
    border: 2px solid white;
    border-radius: 0.3em;

    transition-duration: 1s;
    transition-timing-function: ease;
}

.register-form-button:hover {
    
    background-color: rgb(42, 58, 201); 
}